body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p{
    margin: 0%;
}
nav{
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
nav, .one, footer{
    background-color: #1f2937;
}
nav h3{
    color: #f9fafa;
    font-size: 24px;

}
.title h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.title p, a{
    color: #e5e7eb;
}
a{
    text-decoration: none;
}
ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
}

.section{
    display:flex ;
    padding: 2% 5%;
}
.one{
justify-content: center;
}
.title{
    width: 45ch;
    padding: 1%;
}
.title p{
    font-size: 18px;
 
}
.title button{
    background-color: #3b82f6;
    border-radius: 10%;
    border: #3b82f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 2%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 2%;
}
.two{
    flex-direction: column;
    align-items: center;
}
.images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.img{
    width: 20ch;
}
.three{
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
}

.quote{
    padding: 3% 10%;
    font-style:italic;
}
.author{
    font-weight: bold;
    text-align: right;
    font-size: 0.75em;
    padding-right: 2%;
}